<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="MyDBConnectionString" connectionString="Data Source=.;Initial Catalog=koosieSeDatabase;User ID=sa;Password=p@55w0rd01" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>